@{
    ViewBag.Title = "Principal";
}
<br/>
<div class="jumbotron">
    <h1>Sistema de planificación docente</h1>
    <p class="lead">A través de esta plataforma podrás relizar la planificación de tus futuras clases estableciendo las competencias y metodologías a implementar.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¡Planifica!</h2>
        <p>
            Con esta aplicación puedes planificar tus futuras clases en base a escenarios, competencias, métodos de trabajo y sistematización.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Indicadores de logro</h2>
        <p>Puedes medir el proceso de aprendizaje en tu programación curricular a través indicadores de logro: acción, conocimiento y condición.</p>
    </div>
    <div class="col-md-4">
        <h2>Tecnologías utilizadas</h2>
        <p>ASP.NET MVC, Entity Framework, JQuery, C#.NET, Bootstrap y MS SQL Server.</p>
    </div>
</div>